.wi{
    background: linear-gradient(#01010B, 88%, #290272);
    min-height: 93vh;
}

.card-size{
    width: 160px;
    margin: 10px;
    border-radius: 1;
}
.cuerpo{
    opacity: 0;
}
.cuerpo:hover{
    opacity: 0.7;
}
.navbar-brand {
    padding-top: .75rem;
    padding-bottom: .75rem;
    background-color: rgba(0, 0, 0, .25);
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
  }
  
  .navbar .navbar-toggler {
    top: .25rem;
    right: 1rem;
  }
  
  .navbar .form-control {
    padding: .75rem 1rem;
  }
  
  .form-control-dark {
    color: #fff;
    background-color: rgba(255, 255, 255, .1);
    border-color: rgba(255, 255, 255, .1);
  }
  
  .form-control-dark:focus {
    border-color: transparent;
    box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
  }
  .page-link {
    background-color: transparent;
    color: white;
  }